doctype html

head
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
  //
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  link(rel='StyleSheet' href='css/styles.css' type='text/css')
  script(src='script.js')
header
  nav
    ul
      li
        a(href='/') Home
      li |
      li
        a(href='#') Blog
  h6#register
    a(href='/register') Register
main
  section#intro-text
    span Simple Kitchen
    h3
      | Simple &amp; Comforting 
      br
      |             Recipes All Year Round
  section#thankyou
    h4 Thank you for your registration!
footer
  | &copy; Copyright 2021
